/* MASTER.CSS POUR LE PROJET GITHUB TOUSSAH */

*, html, body {
    margin:0;
    padding:0;
}

html, body{
    text-rendering: optimizeLegibility;
}

html{
    overflow-y:hidden;
}

h1, h2, h3{
    font-family: 'Vidaloka', serif;
    margin:20px 0 10px 0;
    text-transform: uppercase;
    font-weight: 800;
    margin-left:-20px;
    transition:all 0.5s ease-in-out;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.65);
}

h1:hover, h2:hover, h3:hover{
    margin-left:0;
    
}

p, span{
    font-family: 'Lato', sans-serif;
}

img{
    width:200px;
    height:auto;
    margin:0 auto;
    filter: sepia(0%);
    -webkit-transition: 0.3s -webkit-filter linear;
    -moz-transition: 0.3s -moz-filter linear;
    -moz-transition: 0.3s filter linear;
    -ms-transition: 0.3s -ms-filter linear;
    -o-transition: 0.3s -o-filter linear;
    transition: 0.3s filter linear, 0.3s -webkit-filter linear;
    /* Wow */
    
}

img:hover{
    filter: sepia(100%);
    filter: hue-rotate(90deg);
}

.img{
    text-align: center;
    margin-bottom: -5px;
}

.container{
    width:1200px;
    margin:0 auto;
    padding:0 20px;
}


footer{
    background-color:#313131;
    color:#fff;
    height:100vh;
    vertical-align: middle;
    padding:20px;
}

footer p{
    vertical-align: middle;
    margin-top: 10px;
    text-align: center;
}

p{width:70%;}
